/* font-family: 'Montserrat', sans-serif; */


html, body {
  margin: 0;
  padding: 0;
  height: 200%;
  background-color: #636e72 !important;
  font-family: 'Montserrat', sans-serif !important;
}


/* Nav  */
nav {
  border-bottom-color: #55efc4;
  border-bottom-style: solid;
  border-bottom-width: thick;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.nav-link {
  color: #2d3436 !important;
}

.nav-link:hover {
  color: #636e72 !important;
}

/* Employee Login */
label {
  font-size: 16px;
}

.slides {
  margin-top: 2em !important;
}

.carousel-item {
  border-color: white;
  border-width: thick;
  border-style: solid;
}

h5 {
  font-size: 64px !important;
  font-weight: bold !important;
}

.carousel-caption-sub {
  font-size: 32px !important;
  font-weight: 300 !important;
}
