/* font-family: 'Montserrat', sans-serif; */
html, body {
  margin: 0;
  padding: 0;
  height: 200%;
  background-color: #353b48 !important;
  font-family: 'Montserrat', sans-serif !important;
}

/* Nav  */
nav {
  border-bottom-color: #55efc4;
  border-bottom-style: solid;
  border-bottom-width: thick;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  background-color: #b2bec3 !important;
}

.nav-link {
  color: #2d3436 !important;
}

.nav-link:hover {
  color: #636e72 !important;
}

input {
  margin-bottom: 10px;
}

.btn {
  border-color: #2d3436 !important;
  border-width: thin !important;
}

.btn:hover {
  background-color: #2d3436 !important;
  color: white !important;
}

/* Employee Login */
label {
  font-size: 16px;
}

.slides {
  margin-top: 2em !important;
}

.carousel-item {
  border-color: #55efc4;
  border-width: thick;
  border-style: solid;
}

h5 {
  font-size: 64px !important;
  font-weight: bold !important;
  padding-bottom: 2.5em;
}

.green-line {
  background-color: #55efc4;
  height: 2px;
  width: 50%;
}

.about {
  border-color: #55efc4;
  border-style: solid;
  border-width: thin;
}

.about-row {
  text-align: center;
  padding-top: 2em;
}

.about-row i {
  font-size: 72px;
  color: white;
}

.white-line {
  background-color: white;
  height: 2px;
  width: 70%;
}

h1 {
  color: white;
  padding-top: 1.5em;
}

p {
  color: white;
}

* {
  box-sizing: border-box;
}

.ad-container {
  width: 100%;
  height: 125px;
  overflow: hidden;
}

.ad {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* #contact {
  background: #f8f9fa !important;
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

i {
  color: #2d3436 !important;
  width: 64px !important;
} */
